<h2><%= @novel.title %></h2>

<%#= @markdown.render( @novel.plot ) %>
<%= sanitize( @markdown.render( @novel.plot ) ) %>

<ol>
    <% @articles.each do |a| %>
    <li><%= link_to a.subtitle , novel_article_path({ novel_id: @novel.id , id: a.chapter }) %></li>
    <% end %>
</ol>

<%= content_for :footbar do %>
    <% if user_signed_in? %>
        <% if current_user.is_admin || current_user.email == @novel.author %>
            <%= link_to "編輯大綱", edit_novel_path( @novel.id ) , class:"section" %>
            <div class="divider"> / </div>
            <%= link_to "刪除小說", novel_path( @novel.id ), data: {confirm: '確定嗎？'}, method: :delete , class:"section" %>
            <div class="divider"> / </div>
            <%= link_to "新的章節", new_novel_article_path( @novel.id ) , class:"section" %>
            <div class="divider"> / </div>
        <% end %>
        <%= link_to "登出", destroy_user_session_path, method: :delete , class:"section" %>
    <% else %>
        <%= link_to "登入", new_user_session_path , class:"section" %>    
    <% end %>
<% end %>