<!DOCTYPE html>
<html>
    <head>
        <title>Novelist</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
    </head>
    <body class="ts container">
        <h1><%= link_to "成為小說家吧", novels_path %></h1>
        <%
            ts_class = "ts positive message" if notice
            ts_class = "ts negative message" if alert
        %>
        <div class="<%= ts_class %>">
            <%= notice if notice %>
            <%= alert  if alert  %>
        </div>
        <div class="ts divider"></div>
        <main>
            <%= yield %>
        </main>
        <footer>
            <div class="ts breadcrumb">
                <%= yield :footbar %>
            </div>
        </footer>
    </body>
</html>
